/*PRINCIPIO CSS FORMULARIO DE CREACIÓN DE EVENTOS*/

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28vh;
    padding-bottom: 25vh;
}

.papadiv {
    background: #DADCDE;
    width: 58.59375vw;
    height: 192vh;
    border-radius: 3.10vh;
    padding-top: 3vh;
    text-align: center;
}

.logocreacion {
    width: 21vw;
    height: 19vh;
    margin-left: 23vw;
}

#Previewimg {
    background-color: #ffffff;
    width: 49vw;
    height: 40.041667vh;
    border-radius: 3.10vh;
    border: 0.1vh solid rgba(81, 98, 111, 0.5);
}

input[type="file"]#fileinput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="fileinput"] {
    font-size: 1.1vw;
    font-weight: 600;
    font-family: Montserrat;
    color: #ffffff;
    background-color: #DC001B;
    display: inline-block;
    cursor: pointer;
    padding: 2vh 2vw !important;
    width: fit-content;
    text-align: center;
    border-radius: 4.10vh;
    margin-left: 29vw;
}

.flexbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkvolver {
    color: #000000;
    font-family: Montserrat;
    font-size: 1.1vw;
    text-decoration: none;
    cursor: pointer;
    padding-left: 10vw;
}

#moverbtncrear {
    padding-left: 20vw;
}

.btnbajo {
    background-color: #DC001B;
    border: 0.5px;
    border-radius: 4.10vh;
    width: 12vw;
    height: 7vh;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: 600;
    font-family: montserrat;
    cursor: pointer;
}

.label-nombredelevento {
    font-size: 1.6625vw;
    font-family: montserrat;
    padding-right: 30.8vw;
}

#nombredelevento {
    width: 49vw;
    height: 5vh;
    border-radius: 4.10vh;
    border: 0.11vw solid rgba(81, 98, 111, 0.5);
}

.fechahora {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.label-fecha {
    font-size: 1.3vw;
    font-family: montserrat;
    padding-right: 12.7vw;
}

#fecha {
    width: 21.328125vw;
    height: 5vh;
    border-radius: 4.10vh;
    border: 0.11vw solid rgba(81, 98, 111, 0.5);
    margin-left: 3.1vw;
}

.label-hora {
    font-size: 1.3vw;
    font-family: montserrat;
    padding-right: 19.6vw;
}

#hora {
    width: 21.328125vw;
    height: 5vh;
    border-radius: 4.10vh;
    border: 0.11vw solid rgba(81, 98, 111, 0.5);
    margin-right: 3vw;
}

.flexcheckbox {
    display: flex;
    justify-content: center;
    align-items: center
}

.peventopresencial {
    font-size: 1.4vw;
    font-family: Montserrat;
    margin-left: 1vw;
}

#eventopresencial {
    width: 2.5vw;
    height: 3vh;
}

.label-lugar {
    font-size: 1.3vw;
    font-family: montserrat;
    margin-right: 43.3vw;
}

#lugar {
    width: 49vw;
    height: 5vh;
    border-radius: 4.10vh;
    border: 0.11vw solid rgba(81, 98, 111, 0.5);
}

.label-duraciondelevento {
    font-size: 1.3vw;
    font-family: montserrat;
    padding-right: 33.5vw;
}

#duraciondelevento {
    width: 21.328125vw;
    height: 5vh;
    border-radius: 4.10vh;
    border: 0.11vw solid rgba(81, 98, 111, 0.5);
    margin-right: 27.5vw;
}

#descripcion {
    width: 49vw;
    height: 40.041667vh;
    border-radius: 3.10vh;
    border: 0.11vw solid rgba(81, 98, 111, 0.5);
    resize: none;
    padding-left: 2vw;
    padding-top: 4vh;
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
    .papadiv {
        width: 70vw;
        height: 190vh;
    }
    .logocreacion {
        width: 21vw;
        height: 17vh;
        margin-left: 26vw;
    }
    .label-nombredelevento {
        font-size: 1.9625vw;
        padding-right: 32.8vw;
    }
    #nombredelevento {
        width: 55vw;
    }
    #Previewimg {
        width: 55vw;
        height: 41.041667vh;
    }
    label[for="fileinput"] {
        padding: 2vh 4vw !important;
        margin-left: 33vw;
    }
    .label-fecha {
        font-size: 1.6vw;
        padding-right: 8.7vw;
    }
    #fecha {
        width: 21.328125vw;
        margin-left: 4.5vw;
    }
    .label-hora {
        font-size: 1.6vw;
        padding-right: 19.4vw;
    }
    #hora {
        width: 21.328125vw;
        margin-right: 5vw;
    }  
    .peventopresencial {
        font-size: 1.4vw;
        margin-left: 1vw;
    }
    #descripcion {
        width: 55vw;
        height: 41.041667vh;
        font-size: 1.3vw;
    }
    .linkvolver {
        font-size: 1.3vw;
        padding-left: 12vw;
    }
    .btnbajo {
        width: 14vw;
        height: 6vh;
    }
    #moverbtncrear {
        padding-left: 21vw;
    }
}

@media screen and (max-width: 480px) {
    form {
        padding-top: inherit;
        padding-bottom: inherit;
    }
    .papadiv {
        width: 100%;
        height: 160vh;
        border-radius: inherit;
        padding-top: 2vh;
    }
    .logocreacion {
        width: 38vw;
        height: 14vh;
        margin-left: 39vw;
    }
    .label-nombredelevento {
        font-size: 3.6625vw;
        padding-right: 42.9vw;
    }
    #nombredelevento {
        width: 85vw;
    }
    #Previewimg {
        width: 85vw;
        height: 29.041667vh;
    }
    label[for="fileinput"] {
        padding: 2vh 5vw !important;
        margin-left: 39vw;
        font-size: 3vw;
    }
    .label-fecha {
        font-size: 3.3vw;
        padding-right: 11.7vw;
    }
    #fecha {
        width: 36.328125vw;
        height: 4.9vh;
        margin-left: 4vw;
    }
    .label-hora {
        font-size: 3.3vw;
        padding-right: 16.6vw;
    }
    #hora {
        width: 36.328125vw;
        height: 4.9vh;
        margin-right: 4vw;
    }
    .peventopresencial {
        font-size: 2.9vw;
        margin-left: 1vw;
    }
    #eventopresencial {
        width: 3.5vw;
        height: 3vh;
    }
    #descripcion {
        width: 85vw;
        height: 29.041667vh;
        padding-left: 3vw;
        padding-top: 4vh;
        font-size: 2.9vw;
    }
    .linkvolver {
        font-size: 2.5vw;
        padding-left: 15vw;
    }
    .btnbajo {
        width: 26vw;
        height: 6vh;
        font-size: 3vw;
    }
    #moverbtncrear {
        padding-left: 25vw;
    }
}

/*FIN CSS FORMULARIO DE CREACIÓN DE EVENTOS*/