img{
    position: relative;
    object-fit: cover;
    width: 112%;
    right: 1.2369791666666667vw;


}

h1{

    color:#DC001B;
    font-family: Montserrat;

}
.form-label{
font-family: Montserrat;

}

.form{
    
    background:  #E5E5E5;
    text-align: center;
    display: grid;
    grid-template-columns:  20.833333333333332vw;
    justify-content: center;
    align-items: center;
    margin-left:  35.807291666666664vw;
    margin-right:  35.807291666666664vw;
   width: 356px;

}
.col-md-6{
    text-align: left;
    width: 19.53125vw;
    margin-bottom: 1.953125vw;


}
.form-control{
    width: 19.53125vw;
    border-radius: 1.3020833333333333vw;
    border:   0.06510416666666667vw solid #C4C4C4;
    height: 1.4322916666666667vw;
}
.col-12{
    text-align: left;
    margin-bottom: 1.3020833333333333vw;
}
.btn{
    background-color: #DC001B;
    border-radius:  1.953125vw;
    width: 6.510416666666667vw;
    height: 1.5625vw;
    margin-top:  1.3020833333333333vw;
    color: white;
    margin-bottom: 1.953125vw;
    border-color: #DC001B;
    text-align: center;

}
